services:
  server:
    build: ./Backend
    container_name: express-server
    ports:
      - "5000:5000"
    networks:
      - fullstack-net
    restart: unless-stopped

  client:
    build: ./Frontend/frontend
    container_name: react-client
    ports:
      - "3000:3000"
    networks:
      - fullstack-net
    depends_on:
      - server
    restart: unless-stopped

networks:
  fullstack-net:
    driver: bridge
